# Files to ignore in GIT

# Ignore All Files in Temp Folder
temp/*

# Ignore VS Code settings folder
.vscode/

# Ignore Everything in the Invoices Folder
invoices/*

# Don't Ignore the README Files
!temp/README.md
!invoices/README.md

.DS_Store