@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

* {
  font-family: "Spinnaker", sans-serif;
}

:root {
  --body-bg: #e0e1dd;
  --heading-bg: #0d1b2a;
  --heading-text: #778da9;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  background-color: var(--body-bg);
  margin: 0;
}

#main-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 35vw;
  border: 2px solid var(--heading-bg);
  border-radius: 0.7rem;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  background-color: var(--heading-bg);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
  color: var(--heading-text);
}

.all-labels {
  font-size: 2rem;
  cursor: text;
}

h2 {
  margin: 0;
}

textarea {
  resize: none;
}

.permanent-field-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.all-inputs {
  width: 50%;
  font-size: 1.5rem;
}

.items-list {
  width: 100%;
  font-size: 1.5rem;
}

#preview-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#preview {
  font-size: 2rem;
}

#add {
  font-size: 1.5rem;
}

.item-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

#date-selector,
#time,
#item,
#description,
#amount,
#quantity,
#tax {
  background-color: transparent;
  padding: 2px;
  border: 2px solid var(--heading-bg);
  border-radius: 0.5rem;
  color: var(--heading-bg);
}

#tax {
  width: 10rem;
}

#item {
  width: 65%;
}

.tax-input {
  font-size: 1.5rem;
  width: 10%;
}

button {
  background-color: transparent;
  cursor: pointer;
  padding: 0.4rem;
  border: 2px solid var(--heading-bg);
  border-radius: 0.5rem;
  color: var(--heading-bg);
  transition: all 0.3s;
}

button:hover {
  background-color: var(--heading-bg);
  color: var(--body-bg);
}

#item-name-text,
#item-amount-text,
#item-quantity-text {
  margin: 0;
  width: 100%;
  text-align: right;
  color: red;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.editable-input {
  background-color: transparent;
  font-size: 1.3rem;
  border: 0px solid transparent;
}

.editing-state {
  border: 2px solid var(--heading-bg);
  border-radius: 0.6rem;
}

#duplicate-helper-text {
  text-align: center;
}

.important {
  color: red;
  font-size: 1rem;
}

.invisible {
  display: none;
}