@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

* {
  font-family: "Spinnaker", sans-serif;
}

:root {
  --body-bg: #e0e1dd;
  --heading-bg: #0d1b2a;
  --heading-text: #778da9;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 98.75vw;
}

h1 {
  padding: 1.5rem;
  color: var(--heading-text);
  background-color: var(--heading-bg);
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}


#main-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  align-items: flex-start;
  gap: 3rem;
  border: 2px solid var(--heading-bg);
  padding: 1.2rem;
  border-radius: 1rem;
}

.input-all {
  transition: all 0.3s;
  font-size: 1.1rem;
  background-color: var(--body-bg);
  border: 2px solid var(--heading-bg);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

.input-all:focus {
  outline: none;
}

.permanent-field-container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
}

#shop-name {
  width: 60%;
}

#gst-num,
#address {
  width: 70%;
}

#phone-num {
  width: 50%;
}

#logo {
  border: 2px solid var(--heading-bg);
  padding: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
}

#logo:focus {
  font-size: 1.1rem;
}

textarea {
  resize: none;
}

#gst-num {
  text-transform: uppercase;
}

button {
  border: 2px solid var(--heading-bg);
  background-color: var(--body-bg);
  color: var(--heading-bg);
  padding: 0.7rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--heading-bg);
  color: var(--body-bg);
}

label:hover {
  cursor: text;
}

#confirm-details-btn {
  font-size: 1.3rem;
  align-self: center;
}

#logo-helper-text {
  margin: 0;
}

.important {
  color: red;
  font-size: 1rem;
}

.invisible {
  display: none;
}