<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default-style.css') }}">
  <title>Invoice Generator</title>
</head>

<body>
  <h1>Transaction Details</h1>
  <div id="main-div">
    <div class="all-labels">
      <label for="date">Date :</label>
      <input type="date" name="date" id="date" class="permanent-field-container">
      <input type="checkbox" name="current-datecheck" id="datecheck">
      <label for="current-datecheck">Current Date</label>
    </div>

    <div class="all-labels">
      <label for="time">Time :</label>
      <input type="time" name="time" id="time" class="permanent-field-container">
      <input type="checkbox" name="current-timecheck" id="timecheck ">
      <label for="current-timecheck">Current Time</label>
    </div>

    <div class="all-labels">
      <label for="item">Item:</label>
      <input type="text" name="item" id="item" class="permanent-field-container">
      <button type="button" id="add">Add</button>
    </div>

    <div>
      <ul class="invisible" id="list-of-items">
      </ul>
    </div>
    <div>
      <label for="description" class="all-labels">Description:</label>
      <input type="text" name="description" id="description" class="permanent-field-container">
    </div>
    <div>
      <label for="amount" class="all-labels">Amount:</label>
      <input type="num" name="amount" class="permanent-field-container" id="amount">
    </div>
    <div>
      <label for="tax" class="all-labels">Tax:</label>
      <select name="tax" id="tax" class="tax-field">
        <option>5%</option>
        <option>12%</option>
        <option>18%</option>
        <option>28%</option>
      </select>
    </div>
    <div id="preview-block">
      <button type="button" id="preview">Preview</button>
      <embed type="application/pdf" src="temp/temp.pdf" width="500" height="200">
    </div>
  </div>
</body>

</html>