<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/default-style.css') }}">
  <script src="{{ url_for('static', filename='js/default-script.js') }}" defer></script>
  <link rel="icon" href="../static/assets/images/favicon.png" type="image/png">
  <title>Invoice Generator</title>
</head>

<body>
  <div class="heading-header">
    <img src="../static/assets/images/blue_red.png" alt="logo-pic">
    <h1>Transaction Details</h1>
  </div>

  <h2>ENTER THE INVOICE DETAILS</h2>
  <div id="main-div">

    <div class="permanent-field-container">
      <label for="date" class="all-labels">Date:<span class="important">*</span></label>
      <input type="date" name="date" id="date-selector" class="all-inputs">
    </div>

    <div class="permanent-field-container">
      <label for="time" class="all-labels">Time:<span class="important">*</span></label>
      <input type="time" name="time" id="time" class="all-inputs">
    </div>

    <div class="permanent-field-container">
      <label for="item" class="all-labels">Item:<span class="important">*</span></label>
      <div class="item-input-container">
        <input type="text" name="item" id="item" class="all-inputs">
        <button type="button" id="add">Add</button>
      </div>
    </div>

    <p id="item-name-text" class="invisible">Please prvide an item Name to add.</p>

    <div class="permanent-field-container">
      <label for="description" class="all-labels">Description:</label>
      <textarea name="description" id="description" cols="30" rows="4" class="all-inputs"></textarea>
    </div>

    <div class="permanent-field-container">
      <label for="amount" class="all-labels">Amount:<span class="important">*</span></label>
      <input type="number" name="amount" id="amount" class="all-inputs">
    </div>

    <p id="item-amount-text" class="invisible">Please prvide an item Amount.</p>

    <div class="permanent-field-container">
      <label for="quantity" class="all-labels">Quantity:<span class="important">*</span></label>
      <input type="number" name="quantity" id="quantity" class="all-inputs">
    </div>

    <p id="item-quantity-text" class="invisible">Please prvide item Quantity.</p>

    <div class="permanent-field-container">
      <label for="tax" class="all-labels">Tax:<span class="important">*</span></label>
      <select name="tax" id="tax" class="tax-input">
        <option>5%</option>
        <option>12%</option>
        <option>18%</option>
        <option>28%</option>
      </select>
    </div>
  </div>
  <div class="external-feature">
    <div class="items-list invisible">
      <h3>Items List:</h3>
      <ol class="invisible" id="list-of-items">
      </ol>
      <p class="important invisible" id="duplicate-helper-text">Item Duplicate/Value Unchanged.</p>
    </div>

    <div id="preview-block">
      <button type="button" id="preview">Preview</button>
      <p id="empty-items-helper" class="invisible important">Add Some Items to get started!</p>
      <embed type="application/pdf" src="" class="invisible" id="preview-embed">
      <div id="pdf-container"></div>
    </div>
  </div>
</body>

</html>