<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  <link rel="icon" href="../static/assets/images/favicon.png" type="image/png">
</head>

<body>
  <h1>Tax Invoice Generator</h1>
  <h2>ENTER YOUR STORE DETAILS</h2>
  <div id="main-div">
    <div class="permanent-field-container">
      <label for="shop-name">Shop Name:<span class="important">*</span></label>
      <input type="text" name="shop-name" id="shop-name" class="input-all" placeholder="Example Shop">
    </div>

    <div class="permanent-field-container">
      <label for="Address">Address:<span class="important">*</span></label>
      <textarea name="address" id="address" cols="30" rows="4" class="input-all"></textarea>
    </div>

    <div class="permanent-field-container">
      <label for="phone-num-label">Phone Number:<span class="important">*</span></label>
      <input type="tel" name="phone" id="phone-num" class="input-all" placeholder="123-456-789">
    </div>

    <div class="permanent-field-container">
      <label for="logo" id="logo-label">Logo:<br> (Leave blank if no logo)</label>
      <input type="file" name="logo" id="logo" class="input-all" accept="image/*">
      <button type="button" id="btn-upload-logo">Upload Logo</button>
    </div>

    <p id="logo-helper-text" class="invisible important">Please Select a Logo (Supported types: png, jpg, jpeg)</p>

    <div class="permanent-field-container">
      <label for="gst" id="gst-num-label">GSTIN:<span class="important">*</span></label>
      <input type="text" name="gst-num" id="gst-num" class="input-all" placeholder="22AAAAA0000A2S4">
    </div>

    <button type="button" id="confirm-details-btn">Confirm Details</button>
  </div>

  <p id="incorrect-details-text" class="invisible">Please Enter all Details before proceeding.</p>

</body>

</html>