<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <h1>Tax Invoice Generator</h1>
  <h2>ENTER YOUR STORE DETAILS</h2>
  <div id="main-div">
    <div class="permanent-field-container">
      <label for="shop-name">Shop Name: </label>
      <input type="text" name="shop-name" id="shop-name" class="input-all">
    </div>

    <div class="permanent-field-container ">
      <label for="Address">Address: </label>
      <textarea name="address" id="address" cols="30" rows="4" class="input-all"></textarea>
    </div>

    <div class="permanent-field-container ">
      <label for="phone-num-label">Phone Number: </label>
      <input type="tel" name="phone" id="phone-num" class="input-all">
    </div>

    <div class="permanent-field-container ">
      <label for="logo">Logo: </label>
      <input type="file" name="logo" id="logo" class="input-all">
      <button type="button">Upload Logo</button>
    </div>

    <div class="permanent-field-container">
      <label for="gst" id="gst-num-label">GSTIN:</label>
      <input type="text" name="gst-num" id="gst-num" class="input-all">
    </div>

    <button type="button" id="confirm-details-btn">Confirm Details</button>

</body>

</html>